parameters:
	ignoreErrors:
		-
			message: '#^Method Kavinsky\\MRW\\Config\:\:fromArray\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Config.php
